@model IEnumerable<AssignmentCrudops.Models.Tasks>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.TaskId  }) |
                @Html.ActionLink("Details", "Details", new { id=item.TaskId}) |
                @Html.ActionLink("Delete", "Delete", new { id=item.TaskId })
            </td>
        </tr>
}
    </tbody>
</table>
